@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0;
  background-color: #13003d;
  background-image: url("stardust.png");
  font-family: "Ubuntu", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.container-div {
  background-color: #aaa;
  opacity: 0.95;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  animation: scaleFromSmallToNormal 1s; // timing-function delay iteration-count direction fill-mode;
}

@keyframes scaleFromSmallToNormal {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
