@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0;
  background-color: #13003d;
  background-image: url("stardust.png");
  font-family: "Ubuntu", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}
