.home-page {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: none;

  button {
    background-color: #199935;
    color: #fff;
    transition: 0.5s ease;
    &:hover {
      background-color: #088834;
    }
  }
}
