@import "./animations.scss";

.measurement {
  grid-area: 1/1/2/2;
  // display: flex;

  .spans {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .seconds-slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.7;
    }
  }

  button {
    background-color: #199935;
    color: #fff;
    transition: 0.5s ease;
    &:hover {
      background-color: #088834;
    }
    &:disabled {
      opacity: 0.7;
    }
  }

  #timer,
  .result-msg {
    margin: 30px auto;
    animation: scaleFromSmallToNormal 1s;
  }

  .result-msg {
    font-size: 1.2em;
    border: 2px #11454f dashed;
    padding: 20px;
    border-radius: 15px;
  }
}
