.measurement {
  grid-area: 1/1/2/2;
  .spans {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
  }

  .seconds-slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }
  }

  button {
    background-color: #199935;
    color: #fff;
    transition: 0.5s ease;
    &:hover {
      background-color: #088834;
    }
  }
}
