.results {
  grid-area: 1/2/2/3;
  min-height: 400px;

  h4,
  p {
    margin: 0;
  }

  h4,
  .popup {
    display: inline;
  }

  .popup {
    float: right;
    margin-right: 10px;
    position: relative;

    &:hover .popup-info {
      visibility: visible;
      opacity: 1;
    }

    .popup-info {
      visibility: hidden;
      opacity: 0;
      width: 25vw;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 10px;
      padding: 10px;
      position: absolute;
      top: 125%;
      right: -10px;
      z-index: 1;
      transition: opacity 1s;

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
      }
    }
  }

  .results-list {
    text-align: left;
    margin: 10px;
    overflow: auto;
    -webkit-overflow: auto;
    max-height: 90%;
    scroll-behavior: smooth;

    ol {
      margin: 0;
      padding: 0;

      .results-list-item-div {
        background-color: #999;
        border-radius: 5px;
        border: 1px #070f37 solid;
        margin-bottom: 5px;
        padding: 0.5em 2em;
        margin-right: 4px;
      }
      li {
        padding: 5px;
        border-bottom: 1px #070f37 dotted;
      }

      p {
        padding: 5px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 700px) {
  .results {
    grid-area: 2/1/3/2;
    .popup .popup-info {
      width: 60vw;
    }
  }
}
